class ProductConfg:

    DEBUG = False
    FLASK_ADMIN_SWATCH = 'cerulean'
    SQLALCHEMY_DATABASE_URI = '*****'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SQLALCHEMY_ECHO = False
    BASIC_AUTH_USERNAME = '*****'
    BASIC_AUTH_PASSWORD = '*****'


class DevelopmentConfig:

    DEBUG = True
    FLASK_ADMIN_SWATCH = 'cerulean'
    SQLALCHEMY_DATABASE_URI = 'sqlite:///development.sqlite3'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    SQLALCHEMY_ECHO = False
    BASIC_AUTH_USERNAME = 'admin'
    BASIC_AUTH_PASSWORD = 'password'

Config = DevelopmentConfig
